
.box{
    margin-right: 3px;
    padding: 5px;
    width: 50%;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgba(0, 0, 255, 0.747) ;
}
.box input{
    background: none;
    font-size: 18px;
    width: 100%;
    
    outline: none;
    border: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.btn{
    width: 20%;
}
.btn:hover{
    width: 25%;
}